*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.tlacitkodomov {
    margin-top:20px;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    color: var(--biela);
    transition: 0.5s;
}
.tlacitkodomov:hover {
    box-shadow: 0px 0px 17px -4px #976cff;
    border-color: #976cff;
    color: #f7f5ff;
    background-color: #2e2546;
}
.tlacitkodomov:active {
    box-shadow: 0px 0px 17px -7px #976cff;
    border-color: #976cff;
    transform: scale(0.95);
}
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
    }
.video-kontakt{
    height: 500px;
}
.kontakt-container{
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.kontakt-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.kontakt-nadpis {
    background-clip: text;
    font-weight:1000;   
    font-size: 50px;
    margin-bottom:50px;
    color: var(--biela); 
}
@media (max-width:650px){
    .kontakt-nadpis {
        font-weight:700;   
        font-size: 35px;
        margin-bottom:30px;
    }
    .kontakt-left{
        margin-left:30px;
    }
    .tlacitkodomov {
        margin-top:30px;
    }
}
.kontakt-nadpis hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(114, 83, 176);
    border-radius: 10px;
    margin-bottom: 20px;
}
.kontakt-text{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.kontakt-text:focus{
    border: 2px solid rgb(114, 83, 176);
}
.kontakt-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    padding: 13px 26px;
    background: var(--fialova);   
}
.kontakt-left button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}  
.kontakt-left button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}  
.kontakt-left button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}  
.kontakt-left button:hover svg {
    transform: translateX(2em) rotate(45deg) scale(1.1);
} 
.kontakt-left button:hover span {
    transform: translateX(8em);
}
.kontakt-left button:active {
    transform: scale(0.95);
}  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.2em);
    }
} 
.kontakt-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
@media (max-width:800px){
    .kontakt-text{
        width: 80vw;
    }
    .kontakt-right{
        display: none;
    }
}
